page-home {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.5em;
      width: 100%;
      font-weight: bold;
      color: #33691E;
      background-color: hsla(89, 43%, 51%, 0.3);
      text-shadow: teal;

    }

    .card-subtitle {
      font-size: 1.2em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: white;
      background-color: hsla(121, 91%, 39%, 0.3);
    }

  }
}
//page-home ion-content{
//  background: teal !important;
//  color: #ffffff !important;
//}
//
//page-home ion-content ion-card{
//  background: transparent !important;


